params {
    // Input files
    input_tab = "test_WGS_output.tab"  // NEW: tab-separated input file
    mtdna_seq_path = "NC_012920.1.txt"
    bystander_file = "NO_FILE" // Change to actual file if needed, otherwise "NO_FILE"
    
    // Output settings
    outdir = "results"
    output_prefix = "test_output"
    
    // Mitoedit parameters
    min_spacer = 14
    max_spacer = 18
    array_min = 14
    array_max = 18
    mte_filter = 1
    cut_pos = 31
}

process {
    errorStrategy = 'ignore'
}

// Add this at the top level
cleanup = true

// Enable conda
conda {
    enabled = true
    useMamba = false
}

// Execution profiles
profiles {
    standard {
        process.executor = 'local'

        process {
            withName: MITOEDIT {
            conda = "$CONDA_PREFIX/../../envs/mte"
            memory = '4GB'
            }
        }

        process {
            withName: COMBINE_RESULTS {
            conda = "$CONDA_PREFIX/../../envs/mte"
            memory = '4GB'
            }
        }
    }
}