//export NXF_WORK="./nextflow_zwc"

params {
    h =null
    help =null

     Mitochondra_samplelist  = "./Mit_WGS_Samplesheet.txt"   // "./MT_VariantCall_Samplesheet_HG008_Downsamples_All.txt"  //"/MT_VariantCall_Samplesheet_HG008_Downsamples.txt "  "./MT_VariantCall_Samplesheet.txt"
    //a txt file that recording the Mitochondra Normal and Tumor aligned BAMs. Each row has three columns that are separated by TAB and correspond to Sample_Name, Normal/Turmor, Normal_BAM/Tumor_BAM. Two rows are corresponds to one normal_tumor pair.  So, the samplesheet should be as " Sample1, normal1, norm1.bam; Sample1, tumor1, tumor1.bam; Sample2, normal2, norm2.bam; Sample2, tumor2, tumor2.bam; 
   
    project = "MT_VariantCall_HG008_Downsample_Test" // "MT_VariantCall_HG008_Downsample_VM_Wencao"
    //"MT_Kundu_Cligen"  //  "MT_VariantCall_NewTest"
    //A project atlas for the current Mitochondra somatic variant calling
    
    ContigName_Mito="chrM"
    //chrM for hg38, MT for hg19.  
 
    Ref_MT = "${projectDir}/Nextflow_mitochondra_wgs/MT_bwa/MT.fa"
    // Mitochondra Original reference Fasta file
    Ref_Shifted_MT = "${projectDir}/Nextflow_mitochondra_wgs/MT_bwa/shiftedMT.fa"
    // Mitochondra shifted reference Fasta file

    Select_Variant_Call = "Y"           
    // Whether select to call Mitochondra somatic variant calling. "Y" | "N"
   
    Select_Variant_Combine_Filter = "Y" 
    // Whether select to combine and filter the called variants for downstream annotation.  "Y" | "N"

    Select_Annotate_Mito_Variant ="Y"
    // Whether select to annotate Mito_Variant. "Y" | "N"
    
    Select_Annotate_MTDB_Parse_FinalizeTable = "Y"
    // Whether select to further annotate the MT variant against MT DataBase, Parse File by threshold, and finalize the final tab.  "Y" | "N"

    Annovar_human_db_path = "${projectDir}/ANNOVAR/annovar_humandb"
    // "/research/groups/cab/projects/Control/common/reference/annovar/humandb" 
    // Database for ANNOVAR  
       
    Python_SCript_Path="${projectDir}/Nextflow_mitochondra_wgs/Python_Scripts"
    // Python script in this pipeline, such as Combine_FilterbyNumberReadStrandBias.py
        
    ANNOVAR_SCript_Path="${projectDir}/ANNOVAR"
    // ANNOVAR perl script path.    

    Java_LIB_Path= "${projectDir}/Nextflow_mitochondra_wgs/Java_LIBs"
    // The Path for Java lib files (.Jar) that will be used in Ace_Variant_Call 
     
    outdir= "."
    // "/research/groups/cab/projects/automapper/common/tchang1/LAB/Kundu/mitoPipeline/clingen/BALL"   //  "." // "/scratch_space/wzhang42"   
    // Output dir for storing the intermediate publishedDir  

    TMP_DIR="/tmp" 
    //TMP_DIR="/scratch_space/tchang1/tmp"
}

profiles {

    standard {
        process.executor = 'local'       
        process {    
            withName: Extract_MT_UM_BAM  {
            memory = '8GB'
	        }  
        }

        process {        
            withName: Merge_bam {
            memory = '8GB' 
            }
        }

        process {    
            withName: bwa_aln_shift {
            cpus = 8
            memory = '8GB'
	    }  
        }
       
        process { 
            withName: Pair_Normal_Tumor_bwa_aln_shift {
            memory = '2GB'
            }
        }

        process {    
            withName: bwa_aln_org {
            cpus = 8
            memory = '16GB'
	        }  
        }
       
        process { 
            withName: Pair_Normal_Tumor_bwa_aln_org {
            memory = '2GB'
            }
        }
        
        process {    
            withName: Ace2_Variant_Call {
            memory = '16GB'
	        }  
        }  
        
        process {
            withName: Combine_Filter_Mito_Variant {
            memory = '16GB'
            }
        } 
        
        // set up a little hack here so that we don't have to reinstall this environment for every run
        process {
            withName: Annotate_Mito_Variant {
            conda = "$CONDA_PREFIX/../../envs/annot_python2"
            memory = '16GB'
            }
        }  
        
        process {
            withName: Annotate_MTDB_Parse_FinalizeTable {
            conda = "$CONDA_PREFIX/../../envs/annot_python2"
            memory = '16GB'
            }
        }  
          
    }

    cluster {
        process.executor = 'lsf'
        executor.queueSize = 200
        process.queue =  'standard'
        process.scratch=true
        process.clusterOptions = '-P Mito'
        executor.jobName = { "$task.name - $task.hash" }  
             
        process {    
            withName: Extract_MT_UM_BAM  {
	        module =  'samtools/1.12' // 'samtools/1.17'
            cpus   = 16
            memory = '2GB'
	        }  
        }

        process {        
            withName: Merge_bam {
            module = 'samtools/1.12'
		    cpus   = 16
            memory = '2GB'

            }
        }

        process {    
            withName: bwa_aln_shift {
	        module = ['samtools/1.12', 'bwa/0.7.17']  // [ 'samtools/1.17', 'bwa/0.7.17']
            cpus = 16
            memory = '2GB'
	        }  
        }
       
        process { 
            withName: Pair_Normal_Tumor_bwa_aln_shift {
            memory = '4GB'
		    cpus   = 1
            }
        }

        process {    
            withName: bwa_aln_org {
	        module =  ['samtools/1.12', 'bwa/0.7.17'] // [ 'samtools/1.12', 'bwa/0.7.17']
            cpus = 16
            memory = '2GB'
	        }  
        }
       
        process { 
            withName: Pair_Normal_Tumor_bwa_aln_org {
            memory = '4GB'
		    cpus   = 1
            }
        }
        
        process {    
            withName: Ace2_Variant_Call {
	        // module = ['samtools/1.12', 'vcftools/0.1.16']
            memory = '8GB'
	        cpus=2               
	       }  
        } 

        process {
            withName: Combine_Filter_Mito_Variant {
            module = 'python/3.11.0'
            memory = '16GB'
     	    cpus=1

            }
        } 
        
        process {
            withName: Annotate_Mito_Variant {
            module = [ 'python/2.7.5', 'annovar/20200607' ]
            memory = '16GB'
            }
        }  
        
        process {
            withName: Annotate_MTDB_Parse_FinalizeTable {
            module = 'python/2.7.5'
            memory = '16GB'
            }
        }                    
   }
}

